/* body{

} */

.sidebar{
    background-color: #fff;
    /*background: linear-gradient(180deg,#ffffff 70%,#d2eaff);*/
    width: 100%;
     height:calc(100vh - 80px) ;
     margin: 0;
    border-right: 1px solid #e7e7e7;
    /*border-radius: 5px;*/
    }
   
    .sidebarList{
      height: auto;
      width: 100%;
      padding: 0;
      margin:0 ;
    }
    .sidebarList .row a{
     width: 100%;
     height: 60px;
     list-style-type: none;
     margin: 0;
     display: flex;
     color: #333;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     text-decoration: none;
     transition:all 0.3s ease;
     
}
    .sidebarList .row a:hover {
      box-shadow: 1px 1px 2px 2px  #777;
    }
    .sidebarList .row a:hover .icon,
    .sidebarList .row a:hover .title{
      transform: scale(1.00);
      -webkit-transform: scale(1.00);
      -moz-transform: scale(1.00);
      -ms-transform: scale(1.00);
      -o-transform: scale(1.00);
}
    .sidebarList .row.active a{
        background-color: #f2f2f2;
}
    .icon{
      flex: 30%;
      display: grid;
      place-items: center;
    }
    .title{
      flex: 70%;
    }
 .menuOpen{
     display: block !important;
     position: absolute;
     height: 91.7%;
     width: 210px;
     z-index: 10;
 }

    