.fulltable {
    margin-top: 50px;
    text-align: center;
    background-color: transparent;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    position: sticky;
    top: -1px;
    z-index: 5;
    /*background: linear-gradient(45deg, #0dc181, #1bdcae);*/
    background: linear-gradient(
            45deg,#4169E1,#0096FF);
    color: white;
}

#container1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#container1::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#container1::-webkit-scrollbar-thumb
{
    background-color: #000000;
}


#row {
    margin-bottom: 15px;
}

#dropdown-menu-align-right {
    /*background: linear-gradient(45deg, #0dc181, #1bdcae);*/
    background: linear-gradient(
            45deg,#4169E1,#0096FF);
    color: white;
    min-width: 167px;
    border-color: #ced4da;
}

#dropdown-menu-align-right:focus {
    outline-style: none;
    box-shadow: none;
}

#container1 {

    overflow-y: auto;
    overflow-x: auto;
    height: 500px;
    width: 95%;
    /*min-width: 1000px;*/
    margin: 0;
    padding: 0;
}

#table {
    margin-bottom: 0;
}

#border {
    border: solid 2px #000;
    position: relative;
}

button #hover-text {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;

    /* Position the tooltip */
    position: absolute;
    top: -10px;
    right: 50px;
    z-index: 6;
}

button:hover #hover-text {
    visibility: visible;
}

#table td {
    padding: 20px;
    position: relative;
}

#deleteicon {
    color: red;
}

#editicon {
    color: blue;
}

.table > :not(:first-child) {
    border-top: none !important;
}

#question {
    text-align: left;
}

#failed {
    color: red;
}

#all {
    /*background: linear-gradient(45deg, #0dc181, #1bdcae);*/
    background: linear-gradient(
            45deg,#4169E1,#0096FF);
    color: white;
    width: 100%;
    border: #4169E1 solid 1px;
    outline-style: none;
    box-shadow: none;
    border-radius: 6px;
}

#all:hover {
    background: white;
    color: #4169E1;
}