#sidebarpropsfooter{
justify-content: flex-start;
}
#sidebarpropsbutton{
    background: transparent;
    color:#0dc181; ;
    border: 1.5px solid #0dc181;
}
#sidebarpropsbutton:hover{
    background: #f6fefb;
}